<h1>ZiYa basic chart example</h1>

<div style="text-align:center">
  <div style="float:left;width:50%;border:1px black solid">
    <h2>default theme</h2>
    <%= ziya_chart '/load_chart' %>
  </div>
  <div style="width:100%;border:1px black solid">
    <h2>custom theme</h2>
    <%= ziya_chart '/load_themed_chart' %>  
  </div>
</div>